.navlink {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.contact_button {
  background-color: white !important;
  color: #2f3335 !important;
  width: 30px !important;
  height: 30px !important;
}

@media screen and (max-width: 900px) {
  .contact_button {
    width: 50px !important;
    height: 50px !important;
  }
}

.contact_button:hover {
  background-color: #2f3335 !important;
  color: white !important;
  cursor: pointer;
  transition: 1s;
}

.contactElement {
  display: flex;
  background-color: white;
  color: black;
  overflow: hidden;
  border-radius: 0 3px 3px 0;
  margin-left: -17px !important;
  transition: 1s;
}

@media screen and (max-width: 900px) {
  .contactElement {
    padding-top: 7px;
    padding-bottom: 7px;
    font-size: 16px !important;
  }
}
