.subtitle {
  color: "#72757";
}

.therapyButton {
  border-radius: 3px;
  padding: 25px 0;
  cursor: pointer;
  transition-duration: 1.2s;
  margin: 10px !important;
}

.therapyButton:hover {
  background-color: powderblue;
}

@media screen and (min-width: 600px) {
  .subtitle {
    margin: 0 25% !important;
  }
  .therapyButton {
    margin: 30px 70px !important;
  }
}
.descriptionTherapy {
  line-height: 26px !important;
  letter-spacing: 0.25px !important;
  text-align: justify !important;
}

.flexBtn {
  max-width: 11.33% !important;
  flex-basis: 11.33% !important;
}
